*.o
*.plt
.DS_Store
ebin/*.beam
*.beam
deps
erl_crash.dump
*~
#*#
.*#
*#
.eunit
src/*.dtl.erl
*.sw?
.rebar
plt/
/.project
/.settings/
/ebin/
log/
include/*_pb.hrl
.idea/
t.sh
gproc_dist_*
*.log
*.zip
*.iml
data/
Mnesia.*
MnesiaCore.*
.idea
gw_auth_helper.erl
*.log.?
*.log.??
IntelliJIDEALicenseServer_darwin_amd64
Index_*.txt